@page "/allstudents"
@using System.Net.Http
@using BlazorAssignment.Repository
@inject IStudent student
@inject HttpClient _httpClient
@inject NavigationManager _navigate

<h2>Student List</h2>

<div class="container">

    <button type="button" @onclick="AddBtn_Click">Add New Student</button>
    <table class="table">
        <tr>

            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Course</label>
            </th>
            <th>
                <label>Email</label>
            </th>
            <th>
                <label>Address</label>
            </th>
            <th>
                <label>Gender</label>
            </th>

            <th></th>
            <th></th>
        </tr>

        @foreach (var item in tbl)
        {
            <tr>

                <td>
                    <label>@item.StudentName</label>
                </td>
                <td>
                    <label>@item.Course</label>
                </td>
                <td>
                    <label>@item.Email</label>
                </td>
                <td>
                    <label>@item.Address</label>
                </td>
                <td>
                    <label>@item.Gender</label>
                </td>

                <td>
                    <a href="/EditDetails/@item.StudentId">Edit</a>


                </td>

                <td>
                    <button type="button" @onclick="@(async()=>await DeleteData(item.StudentId))">Delete</button>
                </td>
            </tr>
        }
    </table>
</div>

@code {

    public IEnumerable<TblStudentDetails> tbl;


    protected override void OnInitialized()
    {

        LoadData();
        base.OnInitialized();
    }



    void AddBtn_Click()
    {
        _navigate.NavigateTo("AddNewStudent");
    }

    async Task DeleteData(int id)
    {
        int Id = Convert.ToInt32(id);
        await _httpClient.DeleteAsync("https://localhost:44357/api/Student/DeleteStudent/" + Id);
        LoadData();

    }

    public void LoadData()
    {
        tbl = (student.GetStudentData());
        StateHasChanged();
    }


}
