@model IEnumerable<MVCAdvance.Models.Entity.TBL_Employees>

@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emp_salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manager_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTrainer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emp_salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manager_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTrainer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emp_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.emp_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emp_id })
        </td>
    </tr>
}

</table>
