@model IEnumerable<MVCArchitecture.Models.EntityModel.TBL_Employees>

@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
    <div class="container p-5">
        <h2>ShowList</h2>

        <p>
            @{
                var info = TempData["username"];

                <Lable>Welcome,</Lable> @info

            }
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.emp_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emp_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emp_dob)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emp_salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.manager_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsTrainer)
                </th>
                <th></th>
            </tr>

            @foreach (var data in ViewBag.EmployeeDataList)
            {
                <tr>
                    <td>
                        @data.emp_id
                    </td>
                    <td>
                        @data.emp_name
                    </td>
                    <td>
                        @data.emp_dob
                    </td>
                    <td>
                        @data.emp_salary
                    </td>
                    <td>
                        @data.manager_id
                    </td>
                    <td>
                        @data.IsTrainer
                    </td>
                </tr>
            }


        </table>
        </div>